@import url('./variables.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin: 20px 20px;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  background-color: var(--orange);
  border: solid 4px var(--black);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-size: 1rem;
  font-weight: 600;
}

input {
  padding: 10px;
  font-size: 1rem;
  border: solid 4px var(--black);
}
