@import url("./variables.css");

.button-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 400px;
  height: 40px;
  background-color: var(--orange);
  border: solid 3px var(--black);
  color: var(--off-white);
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin: 30px auto;
}

.button-home:hover {
  background-color: var(--black);
  color: var(--orange);
}
