@import url("./variables.css");
@import url("./post-feed-page.css");

#search-input {
  padding: 10px;
  font-size: 1rem;
  border: solid 4px var(--black);
  margin: 10px 20px;
}

#search-container {
  color: var(--white);
  padding: 10px;
  margin: 20px;
}