:root {
  --background-all: #534C4C;
  --grey: #534C4C;
  --orange: #D48056;
  --soft-orange: #D49A56;
  --soft-white: #f5f5f5;
  --header-footer: #352929;
  --off-black:  rgba(0, 0, 0, 0.51);
  --black: #000;
  --white: #fff;
}